<div class="modal fade" [id]="modalId" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" [id]="modalId">Modal title</h5>
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>
      <div class="modal-body">
        <ng-template #body></ng-template>
      </div>
      <div *ngIf="buttonConfig" class="modal-footer">
        <button (click)="closePopup(buttonConfig.button1)" type="button"
          class="btn btn-secondary">{{buttonConfig.button1.buttonName}}</button>
        <button *ngIf="buttonConfig?.button2" (click)="closePopup(buttonConfig.button2)" type="button"
          class="btn btn-primary">{{buttonConfig.button2.buttonName}}</button>
      </div>
    </div>
  </div>
</div>